GUI/Connected Services/TimeTrackerServerReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFLibrary" />
  <xs:element name="GetRecordsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFLibrary" minOccurs="0" name="GetRecordsDataResult" nillable="true" type="q1:ArrayOfDbRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>