GUI/Connected Services/TimeTrackerServerReference/WCFLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDbRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbRecord" nillable="true" type="tns:DbRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbRecord" nillable="true" type="tns:ArrayOfDbRecord" />
  <xs:complexType name="DbRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbRecord" nillable="true" type="tns:DbRecord" />
</xs:schema>